.login-background-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 832px;
  object-fit: cover;
}
.consumer-sign-in-child8 {
  position: absolute;
  top: 45px;
  left: 365px;
  width: 545px;
  height: 699px;
}
.address2,
.contact-no2,
.password2 {
  position: absolute;
  top: 303px;
  left: 402px;
  display: inline-block;
  width: 152px;
  height: 25px;
}
.address2,
.password2 {
  top: 387px;
}
.password2 {
  top: 468px;
  left: 407px;
}
.twemojifamily-icon {
  position: absolute;
  height: 16.83%;
  width: 10.94%;
  top: 2.76%;
  right: 87.19%;
  bottom: 80.41%;
  left: 1.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name,
.sign-up4 {
  position: absolute;
  display: inline-block;
}
.sign-up4 {
  top: 65px;
  left: 557px;
  font-size: var(--font-size-21xl);
  width: 178px;
  height: 55px;
}
.name {
  top: 123px;
  left: 411px;
  width: 101px;
  height: 21px;
}
.consumer-sign-in-child10,
.consumer-sign-in-child9 {
  position: absolute;
  top: 183.5px;
  left: 406.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.consumer-sign-in-child10 {
  top: 277.5px;
  left: 401.5px;
}
.consumer-sign-in-child11,
.consumer-sign-in-child12 {
  position: absolute;
  top: 366px;
  left: 402px;
  width: 437px;
  height: 1px;
}
.consumer-sign-in-child12 {
  top: 444.5px;
  left: 401.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 438px;
}
.consumer-sign-in-child13,
.user-id2 {
  position: absolute;
  top: 519px;
  left: 407px;
  width: 437px;
  height: 1px;
}
.user-id2 {
  top: 217px;
  left: 402px;
  display: inline-block;
  width: 152px;
  height: 25px;
}
.consumer-sign-in-child14 {
  position: absolute;
  top: 595px;
  left: 422px;
  background-color: var(--color-dimgray);
  width: 433px;
  height: 43px;
  cursor: pointer;
}
.sign-up5 {
  position: absolute;
  top: 597px;
  left: 586px;
  font-size: var(--font-size-10xl);
  color: var(--color-white);
  display: inline-block;
  width: 132px;
  height: 41px;
}
.riclose-line-icon6 {
  position: absolute;
  top: 151px;
  left: 822px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.already-have-an2 {
  position: absolute;
  top: calc(50% + 262px);
  left: calc(50% - 152px);
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 316px;
  height: 19px;
}
.epback-icon2 {
  position: absolute;
  top: 65px;
  left: 365px;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.riclose-line-icon7,
.riclose-line-icon8,
.riclose-line2 {
  position: absolute;
  top: 230px;
  left: 822px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.riclose-line-icon8,
.riclose-line2 {
  top: 316px;
}
.riclose-line2 {
  top: 412px;
}
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  height: 2.1%;
  width: 1.37%;
  top: 48.44%;
  right: 33.79%;
  bottom: 49.46%;
  left: 64.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3,
.vector-icon4 {
  top: 56.73%;
  bottom: 41.17%;
}
.vector-icon4 {
  height: 3.16%;
  width: 1.56%;
  top: 56.13%;
  right: 33.67%;
  bottom: 40.72%;
  left: 64.77%;
}
.consumer-sign-in2,
.consumer-sign-in3 {
  background-color: var(--color-white);
  height: 832px;
  overflow: hidden;
}
.consumer-sign-in3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
}
.consumer-sign-in2 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
