.consumerMyCartChild {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: var(--color-mediumaquamarine);
  width: 1580px;
  height: 124px;
}
.iconQuestionMarkCircle,
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 3.7%;
  width: 2.34%;
  top: 4.49%;
  right: 15.92%;
  bottom: 91.81%;
  left: 77.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.iconQuestionMarkCircle,
.vectorIcon1 {
  height: 3.77%;
  width: 2.45%;
  top: 6.15%;
  right: 50.89%;
  bottom: 90.08%;
  left: 47.67%;
}
.iconQuestionMarkCircle {
  height: 5.22%;
  width: 3.36%;
  top: 5.18%;
  right: 65.81%;
  bottom: 89.6%;
  left: 30.83%;
}
.consumerMyCartItem {
  position: absolute;
  top: 97px;
  left: 997px;
  width: 159px;
  height: 6.02px;
}

.groupIcon,
.myCart {
  position: absolute;
  top: 916px;
  left: 0px;
  width: 1436.01px;
  height: 8.11px;
}
.consumerMyCartInner{
  position: absolute;
  top: 916px;
  left: 0px;
  width: 1800.01px;
  height: 8.11px;
}
.groupIcon,
.myCart {
  top: 149px;
  width: 1452px;
  height: 64px;
}
.myCart {
  top: 4px;
  left: 48px;
  display: inline-block;
  width: 205.55px;
  height: 52px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
}
.cartIcon {
  position: absolute;
  top: 0;
  left: 0px;
  width: 55.08px;
  height: 47.57px;
  overflow: hidden;
}
.maskGroupIcon,
.myCartParent {
  position: absolute;
  cursor: pointer;
}
.myCartParent {
  top: 157px;
  left: 633px;
  width: 274.55px;
  height: 56px;
  font-size: var(--font-size-13xl);
}
.maskGroupIcon {
  height: 4.48%;
  width: 3.4%;
  top: 15.33%;
  right: 95.49%;
  bottom: 80.19%;
  left: 1.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.emojioneMonotoneletterSIcon {
  top: 11px;
  left: 18px;
  width: 139.39px;
  height: 116.36px;
  overflow: hidden;
}
.about,
.about1,
.emojioneMonotoneletterSIcon {
  position: absolute;
  cursor: pointer;
}
.about1 {
  top: 0.32%;
  left: -35.84%;
  text-shadow: 0 4.848405838012695px 4.85px rgba(0, 0, 0, 0.25);
}
.about {
  top: 55px;
  left: 569px;
  width: 121.21px;
  height: 47.27px;
  font-size: 38.79px;
  color: var(--color-white);
}
.cartIcon1,
.image17Icon {
  position: absolute;
  top: 50px;
  left: 940px;
  width: 41px;
  height: 43px;
  overflow: hidden;
}
.image17Icon {
  height: 28.97%;
  width: 17.73%;
  top: 25.59%;
  right: 80.74%;
  bottom: 45.45%;
  left: 1.53%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.amulButter {
  height: 5.65%;
  width: 14.22%;
  top: 31.45%;
  left: 20.56%;
  font-size: var(--font-size-5xl);
}
.amulButter,
.amulChocolate,
.b {
  position: absolute;
  display: inline-block;
}
.amulChocolate {
  height: 4.69%;
  width: 16.33%;
  top: 61.33%;
  left: 20.97%;
  font-size: var(--font-size-5xl);
}
.b {
  top: 45.21%;
  left: 89.03%;
}
.b,
.b1,
.b2 {
  height: 3.25%;
  width: 9.77%;
  font-size: var(--font-size-5xl);
}
.b1 {
  position: absolute;
  top: 81.85%;
  left: 87.81%;
  display: inline-block;
}
.b2 {
  top: 93.75%;
  left: 89.03%;
}
.b2,
.inStock,
.inStock1,
.price {
  position: absolute;
  display: inline-block;
}
.price {
  height: 5.17%;
  width: 8.98%;
  top: 30.05%;
  left: 89.92%;
  font-size: 30px;
}
.inStock,
.inStock1 {
  top: 357px;
  left: 296px;
  width: 148px;
  height: 48px;
}
.inStock1 {
  top: 663px;
  left: 297px;
}
.eligibleForFree,
.eligibleForFree1,
.quantity20,
.quantity201 {
  position: absolute;
  top: 403px;
  left: 296px;
  display: inline-block;
  width: 418px;
  height: 39px;
}
.eligibleForFree1,
.quantity20,
.quantity201 {
  top: 708px;
}
.quantity20,
.quantity201 {
  top: 450px;
  width: 199px;
  height: 41px;
}
.quantity201 {
  top: 755px;
}
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  height: 2.81%;
  width: 1.31%;
  top: 44.04%;
  right: 66.12%;
  bottom: 53.14%;
  left: 32.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  top: 73.83%;
  bottom: 23.36%;
}
.accept1Child,
.vectorIcon4,
.vectorIcon5 {
  position: absolute;
  top: 450px;
  left: 419px;
  width: 18.18px;
  height: 29.09px;
}
.accept1Child,
.vectorIcon5 {
  top: 755px;
}
.accept1Child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl-3);
  background-color: var(--color-mediumaquamarine);
}
.addToCart {
  position: absolute;
  height: 35.62%;
  width: 93.72%;
  top: 10.96%;
  left: 0;
  display: inline-block;
}
.accept1,
.accept11 {
  position: absolute;
  height: 3.61%;
  width: 11.56%;
  top: 44.34%;
  right: 49.9%;
  bottom: 52.06%;
  left: 38.54%;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.accept11 {
  top: 74.32%;
  right: 49.76%;
  bottom: 22.08%;
  left: 38.68%;
}
.image22Icon {
  position: absolute;
  height: 19.47%;
  width: 17.89%;
  top: 61.33%;
  right: 80.58%;
  bottom: 19.2%;
  left: 1.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.myProfile1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.myCart1,
.myProfile,
.search {
  position: absolute;
  top: 43px;
  left: 1228px;
  width: 218px;
  height: 47px;
  cursor: pointer;
  font-size: 38.79px;
  color: var(--color-white);
}
.myCart1,
.search {
  top: 49px;
  left: 999px;
  width: 159px;
  height: 33px;
}
.search {
  height: 5.65%;
  width: 10.39%;
  top: 5.08%;
  left: 51.04%;
  display: inline-block;
  text-shadow: 0 4.848405838012695px 4.85px rgba(0, 0, 0, 0.25);
}
.consumerMyCart {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
