.loginBackground1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1034px;
  object-fit: cover;
}
.consumerSignInChild {
  position: absolute;
  top: 110px;
  left: 433px;
  width: 624px;
  height: 809px;
}
.address,
.contactNo,
.password {
  position: absolute;
  top: 408px;
  left: 520px;
  display: inline-block;
  width: 152px;
  height: 25px;
}
.address,
.password {
  top: 508px;
}
.password {
  top: 611px;
  left: 531px;
}
.twemojimanOfficeWorkerLighIcon {
  position: absolute;
  height: 17.43%;
  width: 11.33%;
  top: 2.4%;
  right: 87.19%;
  bottom: 80.17%;
  left: 1.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nameOfCompany,
.signUp {
  position: absolute;
  display: inline-block;
}
.signUp {
  top: 138px;
  left: 672px;
  font-size: var(--font-size-21xl);
  width: 178px;
  height: 55px;
}
.nameOfCompany {
  top: 225px;
  left: 515px;
  width: 255px;
  height: 27px;
}
.consumerSignInInner,
.consumerSignInItem {
  position: absolute;
  top: 287.5px;
  left: 519.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.consumerSignInInner {
  top: 383.5px;
  left: 525.5px;
}
.lineIcon {
  position: absolute;
  top: 472.5px;
  left: 526px;
  width: 437px;
  height: 1px;
}
.consumerSignInChild1,
.consumerSignInChild2,
.userId {
  position: absolute;
  top: 574px;
  left: 526px;
  width: 437px;
  height: 1px;
}
.consumerSignInChild2,
.userId {
  top: 677.5px;
  left: 531px;
}
.userId {
  top: 322px;
  left: 526px;
  display: inline-block;
  width: 152px;
  height: 25px;
}
.rectangleDiv,
.signUp1 {
  position: absolute;
  top: 745px;
}
.rectangleDiv {
  left: 531px;
  background-color: var(--color-dimgray);
  width: 433px;
  height: 43px;
  cursor: pointer;
}
.signUp1 {
  left: 682px;
  font-size: var(--font-size-10xl);
  color: var(--color-white);
  display: inline-block;
  width: 132px;
  height: 41px;
}
.ricloseLineIcon {
  position: absolute;
  top: 226px;
  left: 924px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.alreadyHaveAn {
  position: absolute;
  top: calc(50% + 311px);
  left: calc(50% - 118px);
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 316px;
  height: 19px;
  cursor: pointer;
}
.epbackIcon {
  position: absolute;
  top: 140px;
  left: 449px;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.ricloseLineIcon1,
.ricloseLineIcon2 {
  position: absolute;
  top: 322px;
  left: 923px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.ricloseLineIcon2 {
  top: 428px;
  left: 920px;
}
.ricloseLine {
  top: 412px;
  left: 822px;
  width: 33px;
  height: 33px;
}
.icbaselineLockIcon,
.ricloseLine,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.vectorIcon {
  height: 2.1%;
  width: 1.37%;
  top: 49.42%;
  right: 34.19%;
  bottom: 48.48%;
  left: 64.44%;
  max-width: 100%;
  max-height: 100%;
}
.icbaselineLockIcon {
  top: 619px;
  left: 923px;
  width: 30px;
  height: 30px;
}
.consumerSignIn,
.producerSignIn {
  background-color: var(--color-white);
  overflow: hidden;
}
.consumerSignIn {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1034px;
}
.producerSignIn {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
