.supplier-edit-profile-child {
  position: absolute;
  top: 0;
  left: -3px;
  background-color: var(--color-mediumaquamarine);
  width: 1286px;
  height: 138px;
}
.emojione-monotoneletter-s-icon2 {
  position: absolute;
  top: 19px;
  left: 34px;
  width: 108px;
  height: 99px;
  overflow: hidden;
}
.help1,
.my-profile2 {
  position: absolute;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.help1 {
  top: 74px;
  left: 850px;
  width: 225px;
  height: 47px;
  mix-blend-mode: normal;
}
.my-profile2 {
  top: 76px;
  left: 1057px;
  width: 159px;
  height: 39px;
}
.ginger-1-icon1 {
  position: absolute;
  top: 286px;
  left: 1209px;
  width: 7px;
  height: 1px;
  object-fit: cover;
}
.accept1-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-mediumaquamarine);
  width: 170px;
  height: 73px;
}
.save {
  margin: 0;
}
.save-details {
  position: absolute;
  top: 8px;
  left: 5px;
  display: inline-block;
  width: 159px;
  height: 65px;
}
.accept12 {
  position: absolute;
  top: 706px;
  left: 88px;
  width: 170px;
  height: 73px;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.supplier-edit-profile-item {
  position: absolute;
  top: 189px;
  left: 0;
  width: 1280px;
  height: 51.5px;
}
.help-icon1,
.person-icon1 {
  position: absolute;
  overflow: hidden;
}
.help-icon1 {
  height: 4.54%;
  width: 3.13%;
  top: 8.89%;
  right: 33.98%;
  bottom: 86.57%;
  left: 62.89%;
  max-width: 100%;
  max-height: 100%;
}
.person-icon1 {
  top: 74px;
  left: 1017px;
  width: 40px;
  height: 41px;
}
.my-profile3 {
  position: absolute;
  top: 198px;
  left: 70px;
  color: var(--color-black);
}
.supplier-edit-profile-inner {
  position: absolute;
  top: 127px;
  left: 1014px;
  border-top: 6px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 211px;
  height: 6px;
}
.mdiplus-outline {
  position: absolute;
  top: 623px;
  left: 1154px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.supplier-edit-profile-child1 {
  position: absolute;
  top: 274px;
  left: -50px;
  background-color: var(--color-aquamarine);
  width: 1343px;
  height: 361px;
}
.new-name-container {
  position: absolute;
  top: 274px;
  left: 54px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  display: inline-block;
  width: 506px;
  height: 355px;
}
.company1-1-icon1,
.group-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.company1-1-icon1 {
  width: 33.98%;
  top: 302px;
  right: 3.13%;
  left: 62.89%;
  height: 290px;
  object-fit: cover;
}
.group-icon {
  height: 3.95%;
  width: 2.73%;
  top: 71.63%;
  right: 9.84%;
  bottom: 24.41%;
  left: 87.42%;
  max-height: 100%;
}
.insert-new-image {
  position: absolute;
  top: 596px;
  left: 860px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 276px;
  height: 51px;
}
.mask-group-icon1,
.mask-group-icon2,
.vector-icon5 {
  position: absolute;
  height: 1.44%;
  width: 1.02%;
  top: 74.04%;
  right: 9.84%;
  bottom: 24.52%;
  left: 89.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon1,
.mask-group-icon2 {
  height: 4.09%;
  width: 3.13%;
  top: -102.04%;
  right: 95.55%;
  bottom: 197.96%;
  left: 1.33%;
}
.mask-group-icon2 {
  height: 4.57%;
  width: 3.44%;
  top: 23.56%;
  right: 96.17%;
  bottom: 71.88%;
  left: 0.39%;
}
.supplier-edit-profile {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
