.login-background-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 832px;
  object-fit: cover;
}
.consumer-sign-in-child {
  position: absolute;
  top: 45px;
  left: 365px;
  width: 545px;
  height: 699px;
}
.address,
.contact-no,
.password {
  position: absolute;
  top: 303px;
  left: 402px;
  display: inline-block;
  width: 152px;
  height: 25px;
}
.address,
.password {
  top: 387px;
}
.password {
  top: 468px;
  left: 407px;
}
.noto-v1woman-farmer-icon {
  position: absolute;
  height: 18.03%;
  width: 11.72%;
  top: 1.44%;
  right: 86.48%;
  bottom: 80.53%;
  left: 1.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-up,
.supplier-name {
  position: absolute;
  display: inline-block;
}
.sign-up {
  top: 54px;
  left: 557px;
  font-size: var(--font-size-21xl);
  width: 178px;
  height: 55px;
}
.supplier-name {
  top: 125px;
  left: 403px;
  width: 255px;
  height: 27px;
}
.consumer-sign-in-inner,
.consumer-sign-in-item {
  position: absolute;
  top: 183.5px;
  left: 406.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 438px;
  height: 1px;
}
.consumer-sign-in-inner {
  top: 277.5px;
  left: 401.5px;
}
.line-div,
.line-icon {
  position: absolute;
  top: 366px;
  left: 402px;
  width: 437px;
  height: 1px;
}
.line-div {
  top: 444.5px;
  left: 401.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 438px;
}
.consumer-sign-in-child1,
.user-id {
  position: absolute;
  top: 519px;
  left: 407px;
  width: 437px;
  height: 1px;
}
.user-id {
  top: 217px;
  left: 402px;
  display: inline-block;
  width: 152px;
  height: 25px;
}
.rectangle-div {
  position: absolute;
  top: 595px;
  left: 422px;
  background-color: var(--color-dimgray);
  width: 433px;
  height: 43px;
  cursor: pointer;
}
.sign-up1 {
  position: absolute;
  top: 597px;
  left: 586px;
  font-size: var(--font-size-10xl);
  color: var(--color-white);
  display: inline-block;
  width: 132px;
  height: 41px;
}
.riclose-line-icon {
  position: absolute;
  top: 151px;
  left: 822px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.already-have-an {
  position: absolute;
  top: calc(50% + 262px);
  left: calc(50% - 152px);
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 316px;
  height: 19px;
}
.epback-icon {
  position: absolute;
  top: 65px;
  left: 365px;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.riclose-line,
.riclose-line-icon1,
.riclose-line-icon2,
.vector-icon {
  position: absolute;
  top: 230px;
  left: 822px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.riclose-line,
.riclose-line-icon2,
.vector-icon {
  top: 316px;
}
.riclose-line,
.vector-icon {
  top: 412px;
}
.vector-icon {
  height: 2.1%;
  width: 1.37%;
  top: 48.44%;
  right: 33.79%;
  bottom: 49.46%;
  left: 64.84%;
  max-width: 100%;
  max-height: 100%;
}
.icbaseline-lock-icon {
  position: absolute;
  top: 468px;
  left: 825px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.consumer-sign-in,
.supplier-sign-in {
  background-color: var(--color-white);
  height: 832px;
  overflow: hidden;
}
.consumer-sign-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
}
.supplier-sign-in {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
